    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="/icons/page-icon2.png" alt="Logo-Blogalizando" width="114" height="35">
        </a>
    
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
        </div>
    
        <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/">
            Home
            </a>
    
            <a class="navbar-item" href="/pubs">
            Publicações
            </a>
    
            
            <a class="navbar-item" href="/editor">
                Area do Editor
            </a>
    
        </div>
    
        <div class="navbar-end">
            <div class="navbar-item">
            <div class="buttons">
                <a class="button is-light" href="login">
                    Logar
                    </a>
                <a class="button is-primary" href="/cadastro">
                <strong>Cadastrar</strong>
                </a>
             
            </div>
            </div>
        </div>
        </div>
    </nav>