<%- include ('partials/header.ejs') %>

    <body>
        <%- include ('partials/menu.ejs') %>
            <section class="section">
                <div class="container">

                    <h1 class="title">
                        Bem vindo a área de <strong>editor</strong>!
                    </h1>
                    <textarea placeholder="Formule aqui sua postagem...">

          </textarea>
                </div>

            </section>






    </body>

    <%- include ('partials/footer.ejs') %>