<%- include ('partials/header.ejs') %>

    <body>
        <%- include ('partials/menu.ejs') %>
        <section class="section">
            <div class="container">

                <h1 class="title">
                    Bem vindo ao Blogalizando!
                </h1>
                <p class="subtitle">
                    Meu primeiro blog com <strong>NodeJs</strong>!
                </p>
                <textarea placeholder="Formule aqui sua postagem...">
            
          </textarea>
            </div>

        </section>






    </body>

    <%- include ('partials/footer.ejs') %>